extends layout 

block content 
    main.container-fluid.row.h-100.mx-auto 
        .col-8.bg-light.row.p-5.vh-100.scrollable-content
            a.sticky-top(href="/user-home")
                i.bi.bi-arrow-left-circle-fill.text-secondary.display-1
            a.mb-3.col-1.offset-9(href="/chat") 
                i.bi.bi-chat-left-text-fill.text-success.display-2
            .col-10.bg-success.rounded.shadow.p-3.mx-auto.mb-3
                .bg-white.rounded.p-3.row
                    h3.text-center.text-secondary Informacion del prestamo
                    - let fechaApro = new Date(dataPrestamo[0].fecha_aprovacion)
                    - let diaApro = ("0" + fechaApro.getDate()).slice(-2);
                    - let mesApro = ("0" + (fechaApro.getMonth() + 1)).slice(-2);
                    - let anioApro = fechaApro.getFullYear();
                    p Fecha de aprovacion: 
                        b= `${diaApro}/${mesApro}/${anioApro}` 
                    p Monto aprovado:  
                        b= `$RD ${dataPrestamo[0].monto_solicitado}`
                    p Tasa de interes de:  
                        b= `${dataPrestamo[0].tasa_interes}`
                    p Monto total a pagar:  
                        b= `$RD${dataPrestamo[0].monto_pagar}`
                    p Cuota de pago mensual:  
                        b= `$RD ${dataPrestamo[0].cantidad_pago_mensual}`
                    p Pagos restantes:  
                            b= `${dataPrestamo[0].cuotas_pendiente}`
                    
                    - let fechaUlt = new Date(dataPrestamo[0].fecha_ultimo_pago)
                    - let diaUlt = ("0" + fechaUlt.getDate()).slice(-2);
                    - let mesUlt = ("0" + (fechaUlt.getMonth() + 1)).slice(-2);
                    - let anioUlt = fechaUlt.getFullYear();
                    p Ultimo pagao realizado:
                        if dataPrestamo[0].fecha_ultimo_pago != null 
                            b= `${diaUlt}/${mesUlt}/${anioUlt}`
                        else 
                            b= ` - - -` 
                    - let fechaProx = new Date(dataPrestamo[0].fecha_proximo_pago)
                    - let diaProx = ("0" + fechaProx.getDate()).slice(-2);
                    - let mesProx = ("0" + (fechaProx.getMonth() + 1)).slice(-2);
                    - let anioProx = fechaProx.getFullYear();
                    p Fecha de Proximo Pago: 
                        b= `${diaProx}/${mesProx}/${anioProx}` 
                    a.btn.btn-primary.col-3.offset-8.text-white(href=`/pago-prestamo/${dataPrestamo[0].id_prestamo}`) Realizar pago 
            .col-5.bg-warning.rounded.shadow.p-3.mx-auto
                .bg-white.rounded.p-3
                    h3.text-center.text-secondary Perfil crediticio
                    p Puntaje de credito: 
                        b 100
                    p Historial de pagos:  
                        b 100%
                    p Monto de deudas actuales:  
                        b RD$ 00.00
                    p Limite de credito:  
                        b --
                    p Prestamos anteriores: 
                        b 0 
        .col-4.p-3.text-center.d-flex.justify-content-center.align-items-center.bg-primary.row.sticky-content
            img.w-75.h-25(src="/img/logo-bold-png.png", alt="logo Loan Link")