extends layout.pug 

block content 
    p.display-2.text-primary.text-center Tus Clientes!
    a(href="/user-home")
        i.bi.bi-arrow-left-circle-fill.text-secondary.display-1.ms-5.sticky-top
    .container-md.row.rounded.shadow.mx-auto.p-3
        each prestamo in prestamosActivos
            ul.col-11.row.list-unstyled.border.p-2.rounded.mb-2.mx-auto
                li.col-3.display-7= `${prestamo.nombre} ${prestamo.apellido}`
                li.col-3.display-7= `Pagos pendientes:  ${prestamo.cuotas_pendiente}`
                - let fecha = new Date(prestamo.fecha_proximo_pago)
                - var dia = ("0" + fecha.getDate()).slice(-2);
                - var mes = ("0" + (fecha.getMonth() + 1)).slice(-2);
                - var anio = fecha.getFullYear();
                li.col-3.display-7= `Proximo pago:  ${dia}/${mes}/${anio}`
                a.col-1.offset-1(href=`/chat/${prestamo.id_prestamo}`) 
                    i.bi.bi-chat-left-text-fill.text-success
                a.col-1(href=`/prestamo-info/${prestamo.id_prestamo}`) 
                    i.bi.bi-person-video2.text-primary
            
        